version: "3.8"

services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  web:
    # the application's web service (container) will use an image based on our Dockerfile
    build: "."
    # map the internal port 80 to port 8000 on the host
    ports:
      - "8000:80"
    # map the host directory to app (which allows us to see and edit files inside the container)
#    volumes:
#      - type: bind
#        source: .
#        target: /app
#    volumes:
#      - ".:/app"
    # the default command to run whenever the container is launched
    command: python manage.py runserver 0.0.0.0:80
    depends_on:
      - db
volumes:
  postgres_data:
